:host /deep/ {
    mat-divider {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
        color:'grey';
    }
}


#logo {
  width: 200px;
  height: 200px;
  font-size: 150px;
}
