<td-layout>
<div layout="column" layout-fill>
  <mat-toolbar color="accent" class="md-whiteframe-z1">
      <span>Local Host Chat Room</span>
    </mat-toolbar>

<div class="md-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="50">
        <mat-icon flex layout-align="center center" color="accent" id="logo">face</mat-icon>
        <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Sign into my Chat Room with a Nick Name!</mat-card-subtitle>
          <mat-card-subtitle>Nickname is required, thank you :)</mat-card-subtitle>
          <mat-divider></mat-divider>


          <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">

              <div layout="row">
                <mat-form-field>
                  <input matInput  ngModel placeholder="NickName" type="text" maxlength="30" name="nick" [(ngModel)]="f.nick" required>
                  <mat-divider></mat-divider>
                </mat-form-field>
              </div>
              <button mat-raised-button color="accent" type="submit">Sign In</button>
      </form>
    </mat-card-content>
  </mat-card>
      </div>
    </div>
  </div>

</div>
</td-layout >
