<td-layout>
  <td-navigation-drawer flex sidenavTitle="{{currentUser}}" name="Current users List"
  >
    <!-- <mat-nav-list>
    </mat-nav-list> -->
    <div td-navigation-drawer-menu >
      <mat-nav-list *ngFor="let user of users">
        <button mat-raised-button
        color="accent"
         mat-list-item><mat-icon>face</mat-icon>
        <span class="badge">{{user.nick}}</span>
        </button>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav color="accent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle (click)="seeCurrentUsers()">
        <mat-icon>face</mat-icon>
      </button>
      Welcome {{currentUser}}!
    </div>
    <app-messages></app-messages>
  </td-layout-nav>
</td-layout>
