<td-layout>
  <td-navigation-drawer flex sidenavTitle="{{currentUser}}" name="Current users List"
  >
    <!-- <mat-nav-list>
    </mat-nav-list> -->
    <div td-navigation-drawer-menu >
      <mat-nav-list *ngFor="let user of users">
        <button mat-raised-button
        color="accent"
        (click)="onSelect(user.nick)"
  [class.selected]="user === selectedUser"
         mat-list-item><mat-icon>face</mat-icon>
        <span class="badge">{{user.nick}}</span>
        </button>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav color="accent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle (click)="seeCurrentUsers()">
        <mat-icon>face</mat-icon>
      </button>
      Welcome {{currentUser}}!
      <span flex></span>
    <button mat-raised-button
    color="accent"
    *ngIf="selectedUser"
    (click)="returnGroupChat()"
     ><mat-icon>replay</mat-icon>
    Back to the Group Chat!
    </button>
    </div>

    <app-messagehistory [messageHistory]="filteredHistory" *ngIf="selectedUser" ></app-messagehistory>
    <app-messages *ngIf="!selectedUser"></app-messages>
  </td-layout-nav>
</td-layout>
